<!DOCTYPE html>
<html>

<head>
	<meta charset=utf-8>
	<title>Pixel scatter</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		body {
			margin: 0;
			background-color: black;
		}

		img-scatter {
			position: absolute;
			top: 0; bottom: 0; right: 0; left: 0;
			width: 100vw;
			height: 100vh;
			z-index: -1;
		}
	</style>
</head>

<body>
	<div class="controls">
		<input type="file" name="image" accept="image/*" />
		<select>
			<option value="h">Hue</option>
			<option value="s">Saturation</option>
			<option value="l">Luminosity</option>
		</select>
		<input type="checkbox" name="rotate" />
		<input type="checkbox" name="animate" />
	</div>
	<img-scatter src="<%- require('../assets/disenchantment.jpg') %>"></img-scatter>
</body>

</html>