<!DOCTYPE html>
<html>

<head>
	<meta charset=utf-8>
	<title>Pixel scatter</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<style>
		body {
			margin: 0;
			background-color: black;
		}

		img-scatter {
			width: 100vw;
			height: 100vh;
		}
	</style>
</head>

<body>
	<img-scatter src="<%- require('../assets/disenchantment.jpg') %>"></img-scatter>
</body>

</html>